.nav-container {
  min-height: 80px;
}

.logo-link {
  svg {
    display: block;
    color: $airbnb-logo;
  }
}

.invalid-inset-input-text-field {
  border-color: rgb(244, 63, 94) !important;
  label {
    color: rgb(244, 63, 94) !important;
  }
  input[type="email"], input[type="text"] {
    &:focus {
      border-color: rgb(244, 63, 94) !important;
    }
    color: rgb(244, 63, 94) !important;
  }
}
